

/***************************************
*********************************
******** for mobile **************
***************************************
*************************************/
body {
  margin: 0;
}

/* header */
header {
  background-color: #661f0e;
  font-size: 1.2em;
  text-align: center;
  font-family: Helvetica, cursive;
  color: #cc9c6e;
  border: 1px solid #661f0e;
  margin: 0;
}

}
h1 {
  margin-bottom: 1%;

}
p {
  margin-bottom: 1%;

}
img {
  display: none;

}
/* header */



/*navigation*/
nav {
  background-color: #a63317;
  margin-bottom: 2%;
  font-family: fantasy;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
nav a {
  display: inline-block;
  margin: auto%;
  text-decoration: none;
  padding: 5% 1%;

}

a:link {
  color: #007d76;
}

a:visited {
  color: #003d3a;
}

a:hover, a:visited:hover {
  color: #079465;
}

/*navigation */




/* section of the page */

section {
  margin: 5% 5%;

}

table {
  display: block;
  margin: 5% auto;

}

thead{
  color: #a63317;
}


tr {
  margin-bottom: 1%;
}

tr td:nth-child(1) {
  color: #b25f10;
}

tr td:nth-child(2) {
  font-family: cursive; ;
}

/* section */



/*****************************************
********************************************
******** for tab devices *****************
****************************************
**********************************************/



@media screen and (min-width: 765px) {
  nav {
    height: 5%;
  }

  table {
    width: 45%;
    display: inline-table;
    margin: 5% 2%;
  }
}



/************************************************
**************************************************
*********** for big desktop ******************
****************************************************
**************************************************/



@media screen and (min-width: 1200px) {

  nav {
    height: 50px;
  }

  section {
    margin: 5% 1% 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

  }

  table {
    width: 30%;
    margin: 10px 10px;
  }
}
